[submodule "ext/android-websockets"]
	path = ext/android-websockets
	url = https://github.com/koush/android-websockets.git
[submodule "ext/android-async-http"]
	path = ext/android-async-http
	url = https://github.com/loopj/android-async-http.git
[submodule "ext/jsondiff-java"]
	path = ext/jsondiff-java
	url = git@github.com:Simperium/jsondiff-java.git
