language: android
jdk: oraclejdk7
env:
  matrix:
    - ANDROID_TARGET=android-21  ANDROID_ABI=armeabi-v7a
android:
  components:
    - build-tools-21.1.2
  licenses:
    - android-sdk-license-5be876d5

before_script:
  # compile the code so gradle and dependencies are all downloaded
  - ./gradlew assembleClientDebug
  # Create and start emulator
  - echo no | android create avd --force -n test -t $ANDROID_TARGET --abi $ANDROID_ABI
  - emulator -avd test -no-skin -no-audio -no-window &
  - android-wait-for-emulator
  - adb devices
  - adb shell input keyevent 82 &
  - adb logcat -s TestRunner &

script: ./gradlew connectedCheck
