<?xml version="1.0" encoding="utf-8"?>

<manifest
    xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.simperium">

    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
    <uses-permission android:name="android.permission.INTERNET"/>

    <application>

        <activity
            android:name="com.simperium.android.AuthenticationActivity">
        </activity>

        <activity
            android:name="com.simperium.android.CredentialsActivity">
        </activity>

    </application>

</manifest>
